body{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container{
    /* background-color: black; */
    /* border: 2px solid black; */
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
    height: 50%;
    position: absolute;
    /* top: 0px; */
    transition: transform 10s ease-in ;
    /* transition: transform 0.3s ease; */
}
.img:hover{
    /* top: -10px; */
    /* transform: translateY(-10px); */
    transform: rotate(360deg) scale(0.3,0.3);
   
    
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

 
 

/* nav bar starts from here!! */
.menuwrapper{
    width: 100%;
    padding: 20px 0px 20px 0px;
}
 
.menuwrapper .menucontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.container1{
    display: flex;
    width: 100%;

}
.siteName{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    font-size: 25px;


}
.menu-middle-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.menu-middle-buttons li{
    display: inline;
    /* margin: 5px; */
    padding: 5px;
    font-size: 18px;
}
.menuwrapper .menucontainer ul{
    padding-left: 0px;
}

.container2{
    font-size: 20px;
    background: skyblue;
    display: flex;
    /* text-decoration: none; */
    align-items: center;
    justify-content: center;
    width: 130px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
}

/* footer starts from here!! */
.footer{
    display: flex;
    width: 100%;
    height: 200px;
    border-top: 4px solid black;
}
.footer h3{
    padding-left: 17px;
    font-size: 25px;
}
.footer li{
    /* height: 50px; */
    list-style-type: none;
    font-size: 20px;
    padding-bottom: 10px;
}
 
.footer ul{
    padding-left: 25px;
}


/* first start */
.firstbox{
    width: 66%;

}
.address{
    padding-left: 20px;

}
/* end */

/* second start */
.secondbox{
    width: 33%;
}
/* end */
/* third start  */
.thirdbox{
    width: 33%;
}
/* end  */
 